{% extends 'admin/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock css %}

{% block content %}
<div class="d-sm-none">
    {% include 'admin/components/blog_nav.html' %}
</div>
<div class="row m-0 h-100">
    <div class="col-12 h-100 ">
        <div class="border my-2 p-3 post__container">
            <form action="/admin/post/{{post.id}}/update" method="post">
                <div class="row d-flex align-items-center my-3">
                    <div class="row d-flex align-items-center">
                        <div class="col-12">
                            <div class="row d-flex flex-column-reverse flex-sm-row align-items-end">
                                <div class="col-12 col-sm-8">
                                    <label class="text-center" for="name">Post Name</label>
                                    <input class="form-control" type="text" name="name" id="name" value="{{post.name}}">
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="d-flex gap-1">
                                        <a href="/post/{{post.id}}" target="_blank"
                                            class="btn bg__sunglow my-1 w-50">View Post</a>
                                        <a href="/post/{{post.id}}/delete" class="btn btn-danger my-1 w-50">Delete
                                            Post</a>
                                    </div>
                                    <button class="btn bg__pine txt__white txt__lg my-1 py-0 w-100">Save</button>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 col-sm-4 d-flex justify-content-between justify-content-sm-start gap-1 align-items-end">
                            <div>
                                {% if post.is_featured == 1 %}
                                <input type="checkbox" name="is_featured" id="is_featured" class="form-check-input"
                                    checked>
                                {% else %}
                                <input type="checkbox" name="is_featured" id="is_featured" class="form-check-input">
                                {% endif %}
                                <label for="is_featured">Featured</label>
                            </div>
                            <div>
                                {% if post.is_public == 1 %}
                                <input type="checkbox" name="is_public" id="is_public" class="form-check-input" checked>
                                {% else %}
                                <input type="checkbox" name="is_public" id="is_public" class="form-check-input">
                                {% endif %}
                                <label for="is_public">Publish</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label for="category_id">Category</label>
                            <select class="form-select onChangeEl" name="category_id" id="category_id"
                                url="/api/post/{{post.id}}/update">
                                {% set currentCategory = post.category %}
                                <option value="{{ currentCategory.id }}">{{ currentCategory.name }}</option>
                                {% for category in all_categories %}
                                {% if not currentCategory.id == category.id %}
                                <option value="{{category.id}}">{{ category.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="posted_date">Posted Date</label>
                            <input class="form-control" type="date" name="posted_date" id="posted_date"
                                value="{{ post.posted_date }}">
                        </div>
                        <div class="col-12 col-sm-8 col-lg-10">
                            <label for="cover_picture">Cover Picture</label>
                            <input class="form-control onChangeEl" url="/api/post/{{post.id}}/update" type="text"
                                name="cover_picture" id="cover_picture" placeholder="Cover Picture URL"
                                value="{{ post.cover_picture if post.cover_picture != None else '' }}">
                        </div>
                        <div class="col-12 col-sm-4 col-lg-2 d-flex justify-content-center">
                            {% if post.cover_picture %}
                            <img src="{{ post.cover_picture }}" alt="cover picture" class="w-100 my-2">
                            {% else %}
                            <span>None</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-100 mt-3">
                            <textarea class="form-control onChangeEl" url="/api/post/{{post.id}}/update" name="synopsis"
                                id="synopsis" cols="30" rows="3" placeholder="Synopsis"
                                max=255>{{ post.synopsis if post.synopsis != None else '' }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="">
                        <textarea class="summernote" name="content" id="content" cols="30"
                            rows="10">{{post.content | safe}}</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock js %}