{% extends 'base.html' %}

{% block base_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    {% block css %}
        
    {% endblock css %}
{% endblock base_css %}

{% block base_header %}
{% block header %}
<div class="row">
    {% include 'admin/components/top_navbar.html' %}
</div>
{% endblock header %}

{% endblock base_header %}

{% block base_content %}
<div class="row h-100">
    <div class="col-3 px-0 d-none d-sm-block">
        {% include 'admin/components/side_navbar.html' %}
    </div>
    <div class="col-12 col-sm-9">
        {% block content %}
        
        {% endblock content %}
    </div>
</div>
{% endblock base_content %}

{% block base_footer %}
    <div class="row d-sm-none">
        {% include 'admin/components/bottom_navbar.html' %}
    </div>
{% endblock base_footer %}

{% block base_js %}
{% block js %}

{% endblock js %}
{% endblock base_js %}