{% extends 'admin/base.html' %}
{% if post %}
{% set page = post.page %}
{% endif %}
{% block content %}
<div class="row m-0 h-100">
    <div class="col-12 h-100">
        <div class="row">
            <div class="d-flex w-100 justify-content-between align-items-center gap-3">
                <div class="d-flex gap-5">
                    {% if post %}
                    <div class="d-flex align-items-center gap-1">
                        <input type="checkbox" name="is_public" id="is_public" class="form-check-input onChangeEl"
                            value="{{1 if not page.is_public else 0}}" url="/api/page/{{post.page_id}}/update"
                            {{'checked' if page.is_public else '' }}>
                        <span>Publish</span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <label for="category_id">Category</label>
                        <select class="form-select onChangeEl" name="category_id" id="category_id"
                            url="/api/post/{{post.id}}/update">
                            {% set currentCategory = post.category %}
                            <option value="{{ currentCategory.id }}">{{ currentCategory.name }}</option>
                            {% for category in all_categories %}
                            {% if not currentCategory.id == category.id %}
                            <option value="{{category.id}}">{{ category.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div>
                    <a href="/page/{{page.id}}" target="_blank" class="btn bg__sunglow">View Page</a>
                    <a href="#" class="btn btn-danger">Delete Page</a>
                </div>
            </div>
        </div>
        <div class="border my-2 p-3">
            <form action="/page/{{page.id}}/update" method="post">
                <div class="row my-3">
                    <div class="col-10 d-flex justify-content-center">
                        <input class="form-control w-25" type="text" name="name" id="name" value="{{page.name}}">
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <button class="btn bg__pine">Save</button>
                    </div>
                </div>
                <div>
                    <textarea class="summernote" name="content" id="content" cols="30" rows="10">{{page.content | safe}}</textarea>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock js %}


<!-- <div class="row">
    <div class="d-flex justify-content-center">
        <h2 class="text-center mt-3 w-25">
            <input class="onChangeEl form-control" url="/api/page/{{page.id}}/update" type="text" name="name" id="name"
                value="{{ page.name }}">
        </h2>
    </div>
</div>
<div class="row">
    <div class="block_area">
        <div class="m-3">
            <form class="summernote-form" url="/api/block/content/{{page.id}}/update">
                <textarea class="summernote" name="content" cols="30" rows="10"></textarea>
                <div class="d-flex justify-content-end">
                    <button class="btn bg__pine">Save</button>
                </div>
            </form>
        </div>
    </div>
</div> -->