{% extends 'admin/base.html' %}
{% if post %}
{% set page = post.page %}
{% endif %}
{% block content %}
<div class="row m-0 h-100">
    <div class="col-2">
        <h3 class="underline">Mini Menu</h3>
        <ul>
            <li class="clickable ul__menu onChangeEl menu-item" url="/api/block/content/create" type="content"
                page_id="{{page.id}}">Add Content</li>
            <li class="clickable ul__menu onChangeEl menu-item" url="/api/block/image/create" type="images"
                page_id="{{page.id}}">Add Images</li>
        </ul>
    </div>
    <div class="col-10">
        <div class="row">
            <div class="d-flex w-100 justify-content-between align-items-center gap-3">
                <div class="d-flex gap-5">
                    {% if post %}
                    <div class="d-flex align-items-center gap-1">
                        <input type="checkbox" name="is_public" id="is_public" class="form-check-input onChangeEl"
                            value="{{1 if not page.is_public else 0}}" url="/api/page/{{post.page_id}}/update"
                            {{'checked' if page.is_public else '' }}>
                        <span>Publish</span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <label for="category_id">Category</label>
                        <select class="form-select onChangeEl" name="category_id" id="category_id"
                            url="/api/post/{{post.id}}/update">
                            {% set currentCategory = post.category %}
                            <option value="{{ currentCategory.id }}">{{ currentCategory.name }}</option>
                            {% for category in all_categories %}
                            {% if not currentCategory.id == category.id %}
                            <option value="{{category.id}}">{{ category.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div>
                    <a href="/page/{{page.id}}" target="_blank" class="btn bg__sunglow">View Page</a>
                    <a href="#" class="btn btn-danger">Delete Page</a>
                </div>
            </div>
        </div>
        <div class="border my-2">
            <div class="row">
                <h2 class="text-center text-3xl mt-3">
                    <input class="onChangeEl" url="/api/page/{{page.id}}/update" type="text" name="name" id="name"
                        value="{{ page.name }}">
                </h2>
            </div>
            <div class="row">
                <div class="block_area">
                    {% for block in page.blocks %}
                    <div class="m-3">
                        <textarea class="onChangeEl summernote" id="summernote" url="/api/block/content/{{block.id}}/update" name="content"
                            cols="30" rows="10">{{ block.content }}</textarea>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock js %}