<div class="row bg__charcoal p-2">
    <ul class="ul__menu d-flex justify-content-center gap-4 txt__sunglow">
        <li><a class="btn bg__olivine" href="/admin/blog">BLOG</a></li>
        <li class="btn bg__olivine"><a href="/admin/refit">REFIT</a></li>
    </ul>
    <ul class="ul__menu d-flex justify-content-evenly">
        <li><a class="btn bg__sunglow" href="/">View Site</a></li>
        <li><a class="btn bg__pine" href="/logout">Settings</a></li>
        <li><a class="btn btn-danger" href="/logout">Logout</a></li>
    </ul>
</div>