<div class="bg__charcoal h-100 d-flex flex-column ps-2">
    <div class="my-auto">
        <h3 class="txt__sunglow">Blog</h3>
        <ul class="ul__menu txt__pumpkin">
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/posts">Posts</a></li>
            <li><a href="/admin/pages">Pages</a></li>
        </ul>
        <h3 class="txt__sunglow">REFIT</h3>
        <ul class="ul__menu txt__pumpkin">
            <li><a href="/admin/refit/page/playlist">Playlists</a></li>
            <li><a href="/admin/refit_page">Page Details</a></li>
        </ul>
    </div>
    <div class="mt-auto">
        <ul class="ul__menu">
            <!-- <li><a class="btn bg__pine" href="">Settings</a></li> -->
            <li><a class="no__a btn bg__sunglow" href="/" target="__blank">View Site</a></li>
            <li><a class="btn btn-danger no__a" href="/logout">Logout</a></li>
        </ul>
    </div>
</div>