{% extends 'base.html' %}

<!-- css -->
{% block base_css %}
{% block css %}

{% endblock css %}
{% endblock base_css %}

<!-- content -->
{% block base_content %}
<div class="mt-0">
    {% block header %}
    {% include 'components/header.html' %}
    {% include 'main/components/navbar.html' %}
    {% endblock header %}
</div>
<div class="mt-auto">
    {% block content %}

    {% endblock content %}
</div>
<div class="">
    {% include 'components/footer.html' %}
</div>
{% endblock base_content %}

<!-- js -->
{% block base_js %}
{% block js %}

{% endblock js %}
{% endblock base_js %}