{% extends 'base.html' %}

<!-- css -->
{% block base_css %}
{% block css %}

{% endblock css %}
{% endblock base_css %}

<!-- content -->
{% block base_header %}

{% block header %}
<div class="row">
    {% include 'components/header.html' %}
</div>
<div class="row">
    {% include 'main/components/navbar.html' %}
</div>
{% endblock header %}

{% endblock base_header %}

{% block base_content %}

<div class="row">
    {% block content %}
    
    {% endblock content %}
</div>

{% endblock base_content %}


{% block base_footer %}
<div class="row">
    {% include 'components/footer.html' %}
</div>
{% endblock base_footer %}

<!-- js -->
{% block base_js %}
{% block js %}

{% endblock js %}
{% endblock base_js %}