{% extends 'main/base.html' %}
{% block content %}
<div class="row mt-3 d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-6 col-md-4">
        <img src="https://res.cloudinary.com/dmnmjsr9b/image/upload/v1645990544/AdventureAwaits/refit_on_the_road/kendalRefit_nhrkgl.png" alt="refit on the road" class="w-100">
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex flex-column">
        <h2>REFIT on the ROAD</h2>
        <p>I love to dance and I love to be healthy, REFIT is my opprotunity to do both! I am a certified REFIT instructor, taking the REFIT spirit with me wherever I go and getting whoever I can to join. Will you be in my class? Come join me, I would love to see you online or in person! Info inside.</p>
        <button class="btn bg__charcoal txt__olivine"><a class="no__a" href="/refit_on_the_road">Enter</a></button>
    </div>
</div>
<div class="row mt-3 d-flex justify-content-center flex-sm-row-reverse align-items-center">
    <div class="col-12 col-sm-6 col-md-4">
        <img src="https://res.cloudinary.com/dmnmjsr9b/image/upload/v1645396091/AdventureAwaits/life/howItBegan/How_It_Began_3_c4tnqq.jpg" alt="the adventure awaits" class="w-100">
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex flex-column">
        <h2>Life on the ROAD</h2>
        <p>This is our blog site of our adventures as we have traveled the country. We are the Thibaults (pronounced TBO) and we are a family of four, Tyler (Dad), Kendal (Mom), Theo or Theophilus (5 years old) and Z or Zebadiah (4 years old). We would love to share our experiences and therefor a bit of our life with you. Come and join us! Reach out, we look forward to hearing from you.</p>
        <button class="btn bg__charcoal txt__olivine"><a class="no__a" href="/life_on_the_road">Enter</a></button>
    </div>
</div>
{% endblock content %}