{% extends 'main/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
<style>
    img {
        padding: 1em;
    }
</style>
{% endblock css %}

{% block content %}
    <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-2">
            <h2>People Mentioned</h2>
            {% for person in post.people %}
                {% include 'components/people_icon.html' %}
            {% endfor %}
        </div>
        <div class="col-12 col-sm-10 col-md-8 border border-black post__container">
            <div class="mt-3">
                <div>
                    <h1 class="text-center">{{ post.name }}</h1>
                    <div class="d-flex justify-content-center gap-3 flex-wrap">
                        <span><strong>Author: </strong>{{ post.author }}</span>
                        <span><strong>Posted Date: </strong>{{ post.posted_date }}</span>
                    </div>
                </div>
                {{ post.content | safe }}
            </div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
{% endblock content %}