.admin__content{
    max-height: 94%;
}
.content__area {
    padding: 0;
    max-height: 100%;
    overflow-x: auto;
}

.overview__btn {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5em;

    text-align: center;
    background-color: #233D4D;
    color: #FCCA46;
    border: 0.5em solid black;
    border-radius: 0.5em;
}

.navbar__bottom {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar_container {
    margin-top: 10em;
}