.carousel__section > * {
    display: none;
}

.carousel__section > .active {
    display: flex;
    padding: 1.2em 1em 1em 1em;
}

.carousel__section {
    /* margin: 1em; */
    border: 0.5em solid #FCCA46;
    border-radius: 0 0 0.5em 0.5em;
    background-color: white;
}

.carousel__image {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: contain;
    
}

.carousel__wrapper > .carousel__btns {
    margin: 0 1em;
    padding: 0 1em;
    display: flex;
    align-items: center;
}


.carousel__paragraph{
    max-height: 50px;
    text-overflow: ellipsis;
}

.arrow__btn {
    max-width: 150px;
}