{% extends 'main/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/refit_on_the_road.css') }}">
{% endblock css %}

{% block header %}
<div class="row p__sticky__top">
    {% include 'main/refit/header.html' %}
</div>
<div class="row">
    {% include 'main/components/navbar.html' %}
</div>
<div class="row">
    {% include 'main/refit/navbar.html' %}
</div>
{% endblock header %}

{% block content %}
<div class="row">
    <h1 class="text-center">REFIT on the ROAD</h1>
</div>
<div class="row">
    <img src="{{ page.banner1_picture }}" class="m-0 p-0 w-100">
</div>
<div class="row bg__black txt__white py-3 mt-3">
    <p class="d-flex justify-content-end mb-0">EVERY <span class="txt__refit__yellow mx-1">BODY</span> BELONGS</p>
</div>
<div class="row mt-3 d-flex justify-content-center">
    <div class="col-12 col-sm-6 col-md-4">
        <h2 class="text-center">About REFIT</h2>
        <p>REFIT® is a total body fitness format, including cardio, balance, flexibility and toning. We put the fun in
            fitness and unite people across the country and around the globe through the international language of
            dance!
        </p>
        <a href="https://refitrev.com/">Visit the official REFIT Website</a>
    </div>
    <div class="d-none d-sm-block col-sm-6 col-md-4">
        <!-- TODO: make refit image changable -->
        <img src="{{ url_for('static', filename='img/refit/refitDisco.png') }}" alt="refit disco"
            class="w-100 about_refit_picture">
    </div>
</div>
<div class="row bg__refit__blue mt-3">
    <h2 class="txt__white text-center w-100">Kendal's Class</h2>
</div>
<div class="row d-flex justify-content-center mt-3">
    {% if page.news %}
    <div class="col-12 col-sm-8 border border-danger bg__refit__blue p-3 shadow">
        <h3 class="text-center txt__refit__yellow">News Update</h3>
        <div class="txt__white">
            {{ page.news | safe }}
        </div>
    </div>
    {% endif %}

</div>
<div class="row d-flex justify-content-center mt-3">
    {% if page.schedule %}
    <div class="col-12 col-sm-8 col-md-6 px-0">
        <h2 class="text-center">Class Schedule</h2>
        {{ page.schedule | safe }}
    </div>
    {% endif %}
</div>
{% if page.playlist %}
<div class="row d-flex justify-content-center mt-3">
    <div class="col-12 col-sm-8 col-md-6 px-0">
        <h3 class="text-center">{{ page.playlist.month }} Playlist</h3>
        <!-- TODO add a dropdown for all the other playlists -->
        <table class="table">
            <thead>
                <tr>
                    <th>Song Name</th>
                    <th>Artist</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {% for song in page.playlist.songs %}
                <tr>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                    {% if song.link %}
                    <td><a href="{{ song.link }}">Link</a></td>
                    {% else %}
                    <td>Coming Soon</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row d-flex justify-content-center mt-3">
    <div class="col-12 col-sm-8 col-md-6 px-0">
        {{ page.playlist.spotify_url | safe }}
    </div>
</div>
{% endif %}
<div class="row d-flex justify-content-center">
<div class="col-12 col-sm-8 col-md-6 w-100">
    {{ page.loc | safe }}
</div>
</div>
<div class="row">
    <img src="{{ page.banner2_picture }}" alt="refit banner" class="m-0 mt-3 p-0 w-100">
</div>
<div class="row">
    <h2 class="text-center" id="about_me">About ME</h2>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-end align-items-center">
        <img src="{{ page.about_me_picture }}" alt="kendal" class="w-100 about_refit_picture">
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        {{ page.about_me | safe }}
    </div>
</div>
{% endblock content %}